h1{
    text-align: center;
    width: 100%;
}
body{
    padding: 2px;
    margin: 2px;
    background-color: lightblue;
}
  
h3{
    text-align: center;
    top: 0px;
    right: 0px;
    width: auto;
    border: 1px solid black;
    padding: 5px;
    margin-top: 0px;
    margin-left:1px ;
    margin-right:1px ;
    margin-bottom:1px ;
    position: relative;  
}


#section-1{
    background-color: tomato;
}
#section-2{
    background-color: rgb(71, 255, 132);  
}

#section-3{
    background-color: rgb(255, 243, 71);
}


.box{
    border: 1px solid black;
   
    width: 100%;
    margin: 10px;
    background-color: grey;
    box-sizing: border-box;
}



 .box p{
    padding: 15px;
    margin-top: 25px ;
    width: 90%;
    text-align: justify;
    height: auto;
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    box-sizing:border-box;
    
}

div.menu{
    float: right;
    width: 50%;
}